/*!
 * http://www.xxwebplus.eu
 */


/* Global Styles */

body {
    background-color: #fff;

    -webkit-tap-highlight-color: #ccc;
}


/*
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}*/

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;

    background-color: #fff;
    /*margin-top: 60px;*/
}


/*
@media(max-width:767px) {
    #page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    margin-top: 160px;
    }
}*/

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
    #page-wrapper {
        padding: 10px;
    }
}


/* Top Navigation */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    border-left: 7px solid #2a9fd6;
    background-color: #080808;
}

.navbar-inverse .navbar-nav > li > a {
    color: #777;
    border-bottom: 1px solid #080808;
}

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    line-height: 20px;

    padding-top: 15px;
    padding-bottom: 15px;

    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav > .open > .dropdown-menu {
    position: absolute;

    float: left;

    margin-top: 0;

    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 250px;
    padding: 0;
}

li.message-preview {
    width: 275px;

    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 225px;

        overflow-x: hidden;
        overflow-y: auto;

        width: 225px;
        margin-left: -225px;
        padding-bottom: 40px;

        border: none;
        border-radius: 0;
        background-color: #151414;
    }
    .side-nav > li > a {
        width: 225px;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
    .side-nav .collapse a:hover,
    .side-nav .collapse a:focus {
        outline: none;
        background-color: #111!important;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;

    padding: 10px 15px 10px 38px;

    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid #000;
    border-left: 7px solid #f0ad4e;
    background: #080808;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}


/* Flot Chart Containers */

.flot-chart {
    display: block;

    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}


/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    color: #fff;
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    color: #fff;
    border-color: #d9534f;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    color: #fff;
    border-color: #f0ad4e;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

td.right {
    text-align: right;
}

.right {
    text-align: right;
}

.mt60 {
    margin-top: 60px;
}

@media(max-width:767px) {
    .mt60 {
        margin-top: 160px;
    }
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}


/* Wrapper for page content to push down footer */

#wrapper {
    height: auto;
    min-height: calc(100vh - 5em);
    /* Negative indent footer by its height */
    margin: 0 auto;
    /* Pad bottom by footer height */
    padding: 0 0 0 225px;
}

@media(max-width:767px) {
    #wrapper {
        min-height: calc(100vh - 2em);
        padding: 0;
    }
}


/* Set the fixed height of the footer here */

#footer {
    position: relative;

    display: block;

    height: 60px;
    margin-top: 0;

    animation: test;

    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

#wrapper > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


/* Custom style nakome */

.list-group-item {
    word-wrap: break-all;
    word-break: break-word;
}


/* Loader bar */

.loader-bar {
    position: absolute;
    z-index: 999999999;
    top: 0;
    left: 0;

    display: block;

    width: 0;
    height: 4px;

    background: #337ab7;
}


/* Success notifications */

.notification {
    position: fixed;
    z-index: 999999999;
    bottom: 1em;
    left: 1em;

    overflow: hidden;

    min-width: 5em;
    min-height: 5em;

    animation: msg 1s ease;

    opacity: 1;
    border-radius: 4px;
}

@keyframes msg {
    from {
        opacity: 0;
    }
}

.notif-hide {
    transition: opacity 500ms ease;

    opacity: 0;
}

.notification img {
    display: block;
    float: left;

    width: 5em;
    height: 5em;

    border-radius: 100%;
}

.notification span {
    line-height: 4em;

    display: block;
    float: left;

    min-width: 14em;
    min-height: 4em;
    padding: .5em;

    text-align: left;
}


/* Thumbs media upload more files */

.thumb {
    position: relative;

    display: block;
    float: left;
    overflow: hidden;

    width: calc(100%/4 - 1em);
    height: 12em;
    margin: .5em .2em;

    border: 1px solid #ddd;
}

.thumb:first-child {
    margin-left: 0;
}

.thumb:last-child {
    margin-right: 0;
}

.thumb a {
    position: absolute;
    top: .5em;
    right: .5em;

    padding: .3em .8em;

    text-decoration: none;

    color: white;
    background: #f06565;
}

.thumb a:hover,
.thumb a:focus {
    background: #c0392b;
}

.thumb img {
    display: block;

    width: 100%;
}

.thumb-anim {
    animation: thumb 500ms 1 ease;
}

@keyframes thumb {
    from {
        transform: translate(-100%, 0%);
    }
}

@media(max-width:850px) {
    .thumb {
        position: relative;

        display: block;
        float: none;
        overflow: hidden;

        width: 100%;
        height: 20em;
        margin: .5em 0;
    }
}


/* markdown preview */

.md-editor {
    display: block;

    border: 1px solid #ddd;
}

.md-editor .md-footer,
.md-editor > .md-header {
    display: block;

    padding: 6px 4px;

    background: #f5f5f5;
}

.md-editor > .md-header {
    margin: 0;
}

.md-editor > .md-preview {
    overflow: auto;

    min-height: 10px;

    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    background: #fff;
}

textarea,
.md-editor > textarea {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 14px;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    border: 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    border-radius: 0;
    outline: 0;
    background: #eee;
    box-shadow: none;
}

.md-editor > textarea:focus {
    background: #fff;
    box-shadow: none;
}

.md-editor.active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.md-editor .md-controls {
    float: right;

    padding: 3px;
}

.md-editor .md-controls .md-control {
    right: 5px;

    padding: 3px 3px 3px 10px;

    color: #bebebe;
}

.md-editor .md-controls .md-control:hover {
    color: #333;
}

.md-editor.md-fullscreen-mode {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 60px 30px 15px;

    border: 0!important;
    background: #fff!important;
}

.md-editor.md-fullscreen-mode .md-footer {
    display: none;
}

.md-editor.md-fullscreen-mode .md-input,
.md-editor.md-fullscreen-mode .md-preview {
    font-size: 20px!important;
    line-height: 1.6em!important;

    height: 100%!important;
    margin: 0 auto!important;
    padding: 20px!important;

    resize: none!important;

    color: #999;
    border: 0!important;
    background: #fff!important;
    box-shadow: none!important;
}

.md-editor.md-fullscreen-mode .md-preview {
    overflow: auto;

    color: #333;
}

.md-editor.md-fullscreen-mode .md-input:focus,
.md-editor.md-fullscreen-mode .md-input:hover {
    color: #333;
    background: #fff!important;
}

.md-editor.md-fullscreen-mode .md-header {
    position: fixed;
    top: 20px;

    width: 100%;

    text-align: center;

    background: 0 0;
}

.md-editor.md-fullscreen-mode .btn-group {
    float: none;
}

.md-editor.md-fullscreen-mode .btn {
    color: #b3b3b3;
    border: 0;
    background: 0 0;
}

.md-editor.md-fullscreen-mode .btn.active,
.md-editor.md-fullscreen-mode .btn:active,
.md-editor.md-fullscreen-mode .btn:focus,
.md-editor.md-fullscreen-mode .btn:hover {
    color: #333;
    box-shadow: none;
}

.md-editor.md-fullscreen-mode .md-fullscreen-controls {
    position: absolute;
    z-index: 1002;
    top: 20px;
    right: 20px;

    display: block;

    text-align: right;
}

.md-editor.md-fullscreen-mode .md-fullscreen-controls a {
    clear: right;

    width: 30px;
    height: 30px;
    margin: 10px;

    text-align: center;

    color: #b3b3b3;
}

.md-editor.md-fullscreen-mode .md-fullscreen-controls a:hover {
    text-decoration: none;

    color: #333;
}

.md-editor.md-fullscreen-mode .md-editor {
    position: relative;

    height: 100%!important;
}

.md-editor .md-fullscreen-controls {
    display: none;
}

.md-nooverflow {
    position: fixed;

    overflow: hidden;

    width: 100%;
}

.md-preview {
    overflow: auto;

    border: 1px solid #dedede;
}

.md-preview {
    overflow: auto;

    border: 1px solid #dedede;
}


/* Date time */

#daymonthyear {
    padding: 15px 10px 0 0;

    color: #9d9d9d;
}

#hourminutesecond {
    padding: 15px 10px 0 0;

    color: #9d9d9d;
}

.btn {
    vertical-align: middle;
}

a.btn-expand {
    font-size: 14px;
    font-weight: bold;

    padding-right: 4px;
    padding-left: 4px;

    text-decoration: none;

    color: #333;
}

.dropdown-menu .divider {
    background-color: #555454;
}

.dropdown-menu {
    border: 1px solid #222;
    background: #222;
    box-shadow: none;
}

.dropdown-menu > li > a {
    color: #eee;
}

.form-control,
.btn,
.dropdown-menu,
.modal-content,
.badge,
.label,
.input-group-addon,
.alert,
.tooltip,
.tooltip-inner,
pre,
code {
    border-radius: 0;
}

.badge,
.tooltip,
.tooltip-inner,
.label,
pre,
code {
    font-weight: normal;

    text-shadow: none;
}

pre {
    border: none;
}

select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.form-control,
.uneditable-input {
    color: #3c3c3c;
    border-color: #d0d0d0;
    background-color: #fff;
}

@media(max-width:767px) {
    input[type='search'] {
        margin-top: 1em;
    }
}

select:focus,
textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.form-control:focus,
.uneditable-input:focus {
    border-color: #aaa;
    -webkit-box-shadow: 0 0 8px #dce1e5;
       -moz-box-shadow: 0 0 8px #dce1e5;
            box-shadow: 0 0 8px #dce1e5;
}

.breadcrumb {
    border-radius: 0;
    background: #fff;
}

table {
    max-width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    background-color: transparent;
}

.table {
    width: 100%;
    margin-bottom: 18px;
}

.table th,
.table td {
    line-height: 18px;

    padding: 8px;

    text-align: left;

    border-top: 1px solid #ddd;
    background: #fff;
}

.table th {
    font-weight: bold;
}

.table thead th {
    vertical-align: bottom;
}

.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

.table tbody + tbody {
    border-top: 2px solid #ddd;
}

.table-bordered {
    border-collapse: separate;

    border: 1px solid #ddd;
    border-left: 0;

    *border-collapse: collapsed;
}

.table-bordered th:first-child,
.table-bordered td:first-child {
    border-left: 1px solid #ddd;
}

.table-bordered td:first-child {
    padding-left: 15px;
}

.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered thead tr th {
    font-weight: bold;

    background-color: #fff;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child {
    border-top-left-radius: 0;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child {
    border-top-right-radius: 0;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #f5f5f5;
}

.table-bordered th,
.table-bordered td {
    height: 50px;

    border-left: none;
}

.table-bordered > thead > tr {
    height: 45px;
}

td,
th {
    display: table-cell;

    vertical-align: inherit!important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid #ccc;
}

.modal-header {
    border-bottom: 1px solid #f3f3f3;
}

.modal-header .close {
    font-size: 26px;
}

.modal-footer {
    border-top: 1px solid #f3f3f3;
}

.modal-content {
    border: none;
    box-shadow: none;
}

.editor,
.editor:focus,
.editor:hover {
    color: #ccc !important;
    border-color: #151515 !important;
    background: #222 !important;
}


/*
  THEME
*/


/* default */

.box pre {
    color: #f8a506;
}


/* e.g. var, function */

.cm-keyword {
    color: #ff0fab;
}


/* e.g. #id */

.cm-atom {
    color: #9f9fcf;
}


/* e.g. 20 */

.cm-number {
    color: #2ccf78;
}


/* e.g. px, em */

.cm-unit {
    color: #0ef7f0;
}


/* e.g. @include, [this] */

.cm-def {
    color: #de4060;
}


/* e.g. $, i */

.cm-variable {
    color: #7f96db;
}


/* e.g. for key in [this], Markdown li */

.cm-variable-2 {
    color: #ca9;
}


/* e.g. getElementbyId, CSS properties */

.cm-property {
    color: #3eb8f0;
}


/* e.g. CoffeeScript ->, CSS colons */

.cm-operator {
    color: #e6d8e6;
}


/* e.g. // comments */

.cm-comment {
    color: #757575;
}


/* e.g. "string" */

.cm-string {
    color: #abb337;
}


/* e.g. some CSS values */

.cm-string-2 {
    color: #f0ea73;
}


/* e.g. @font-face */

.cm-meta {
    color: #829990;
}


/*  */

.cm-header {
    color: #fff;
}


/* e.g. HTML elements */

.cm-tag {
    color: #3eb8f0;
}


/* e.g. class="" id="" */

.cm-attribute {
    color: #d98092;
}


/* not sure if used */

.cm-strong {
    color: #ddca7e;
}


/* not sure if used */

.cm-em {
    color: #ddca7e;
}


/* e.g. .box */

.cm-qualifier {
    color: #9fb85a;
}


/* not sure if used */

.cm-builtin {
    color: #ddca7e;
}


/* HTML SPECIFIC */


/* e.g. markdown blockquote */

.box-html .cm-atom {
    color: #8d8cb3;
}


/* CSS SPECIFIC */


/* e.g. h1, h2 */

.box-css .cm-tag,
.box-css .cm-qualifier,
.box-css .cm-atom {
    color: #84ed5a;
}

.CodeMirror-linenumber {
    color: #5c595c;
}

* {
    box-sizing: border-box;
}

.box {
    background: #1d1f20;
    background: -webkit-linear-gradient(45deg, #1d1f20, #2f3031) !important;
    background:    -moz-linear-gradient(45deg, #1d1f20, #2f3031) !important;
    background:      -o-linear-gradient(45deg, #1d1f20, #2f3031) !important;
    background:         linear-gradient(45deg, #1d1f20, #2f3031) !important;
}

.expand {
    cursor: pointer;
}

.img-full-container {
    position: fixed;
    z-index: 999997;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    padding: 10px;

    text-align: center;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, .8);
}

.img-full-container img {
    position: fixed;
    z-index: 999998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.img-full-container .close {
    font-size: 18px;

    position: absolute;
    z-index: 999999;
    bottom: 0;
    left: 50%;

    width: 350px;
    margin-left: -175px;
    padding: 10px 0;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}
