<?php $this->partial('head',array()); ?>
<?php $this->partial('navigation',array()); ?>
<?php if(Session::exists('user')){ ?>
	<div id="wrapper">
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row mt60">
                    <div class="col-lg-6">
						<?php echo $prev; ?>
						<span class="btn btn-primary"><?php echo $offset;?> - <?php echo $total;?></span>
						<?php echo $next; ?>
                    </div>
					<div class="col-lg-6 right">
						<form method="post" actiom="" class="form-inline" id="search">
							<div class="form-group">
							  <input
								type="search"
								class="form-control"
								id="searchthis"
								data-search="pages"
								placeholder="Search..."
								required/>
							</div>
						</form>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive panel panel-primary filterable">
							<div class="panel-heading">
								<h3 class="panel-title">Pages</h3>
								<div class="pull-right">
									<button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
								</div>
							</div>
							<table class="table">
								<thead>
									<tr class="filters">
										<th><input type="text" class="form-control" placeholder="<?php echo Panel::$lang['Name'];?>" disabled></th>
										<th class="hidden-xs"><input type="text" class="form-control" placeholder="<?php echo Panel::$lang['Directory'];?>" disabled></th>
										<th class="hidden-xs hidden-sm"><input type="text" class="form-control" placeholder="<?php echo Panel::$lang['Extension'];?>" disabled></th>
										<th><input type="text" class="form-control" placeholder="<?php echo Panel::$lang['Options'];?>" disabled style="text-align: right;"></th>
									</tr>
								</thead>
								<tbody>
									<?php
									  // generate token
									  $token = Token::generate();
			
									  foreach ($content as $item) {
										// size
										$size = $this->fileSize($item);
										// onloy show pages dir
										$file = str_replace(STORAGE.'/', '', $item);
										// get extension
										$extension = File::ext($file);
										// get name
										$name = File::name($file);
										// directory
										$directory = str_replace($name.'.'.$extension, '', $file);
										$showDirOptions = '';
			
										$frontslash = explode('/',$directory);
										$backslash = explode('\\',$directory);
										if(count($frontslash) > 2 || count($backslash) > 2 ){
										  $showDirOptions =
											'<li><a href="'.$this->Url().'/action/newfile/'.$token.'/'.base64_encode($directory).'" title="'.Panel::$lang['New_File'].'"><i class="fa fa-file-o"></i> '.Panel::$lang['New_File'].'</a></li>
											<li><a href="'.$this->Url().'/action/newfolder/'.$token.'/'.base64_encode($directory).'" title="'.Panel::$lang['New_Folder'].'"><i class="fa fa-folder-o"></i> '.Panel::$lang['New_Folder'].'</a></li>
											<li><a onclick="return confirm(\''.Panel::$lang['Are_you_sure_to_delete'].' !\')" href="'.$this->Url().'/action/removefolder/'.$token.'/'.base64_encode($directory).'" title="'.Panel::$lang['Remove_Folder'].'"><i class="fa fa-folder-o"></i> '.Panel::$lang['Remove_Folder'].'</a></li>';
										}
			
										// check if is index
										$suggest = '';
										if($name == 'index'){
											$suggest = Panel::$lang['exencial_file'];
										}
			
										// show
										echo '
										  <tr>
											<td>'.$name.'</td>
											<td class="hidden-xs">'.$directory.'</td>
											<td class="hidden-xs hidden-sm">'.$extension.'</td>
											<td style="text-align:right">
												<div class="btn-group">
												  <a  class="btn btn-default"
													target="_blank"
													href="'.$this->Url().'/action/preview/'.base64_encode($item).'"
													title="'.Panel::$lang['Preview'].'"><i class="fa fa-eye"></i> '.Panel::$lang['Preview'].'
												</a>
												  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<span class="caret"></span>
													<span class="sr-only">Toggle Dropdown</span>
												  </button>
												  <ul class="dropdown-menu dropdown-menu-right">
													<li><a href="'.$this->Url().'/action/edit/'.$token.'/'.base64_encode($item).'" title="'.Panel::$lang['Edit_File'].'"><i class="fa fa-pencil-square-o"></i> '.Panel::$lang['Edit_File'].'</a></li>
													<li><a href="'.$this->Url().'/action/rename/'.$token.'/'.base64_encode($item).'" title="'.Panel::$lang['Rename_File'].'"><i class="fa fa-file-excel-o"></i> '.Panel::$lang['Rename_File'].'</a></li>
													'.$showDirOptions.'
													<li><a onclick="return confirm(\''.Panel::$lang['Are_you_sure_to_delete'].' '.$suggest.' !\')" href="'.$this->Url().'/action/removefile/'.$token.'/'.base64_encode($item).'" title="'.Panel::$lang['Remove_File'].'"> <i class="fa fa-trash-o"></i> '.Panel::$lang['Remove_File'].'</a></li>
												  </ul>
												</div>
											</td>
										  </tr>
										';
									  };
									  ?>
								</tbody>
							</table>
						</div>
                    </div>

                </div>
                <!-- /.row -->

				<div class="row">
					<div class="col-lg-6">
					  <a class="btn btn-primary"
						href="<?php echo $this->Url().'/action/newfile/'.$token.'/'.base64_encode($directory)?>">
						<?php echo Panel::$lang['New_File'];?>
					  </a>
					  <a class="btn btn-success"
						href="<?php echo $this->Url().'/action/newfolder/'.$token.'/'.base64_encode($directory)?>">
						<?php echo Panel::$lang['New_Folder'];?>
					  </a>
					  <!-- blog upload -->
						<a href="#" class="btn btn-warning" data-toggle="modal" data-target="#uploadFile">
						<i class="fa fa-upload"></i> - <?php echo $this::$lang['Blog'];?></a>

						<div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="exampleModalLabel"><?php echo $this::$lang['Import_blog_files'];?></h4>
							  </div>
							  <div class="modal-body">
								<form class="mediauploader" method="post"  enctype="multipart/form-data">
									<input type="hidden" name="token" value="<?php echo Token::generate();?>"/>
									<input type="file" name="pagesFile" accept=".md" required/>
									<br>
									<input type="submit" name="uploadFile" class="btn btn-primary" value="<?php echo $this::$lang['Upload'];?>">
									<a href="#" class="btn btn-danger" data-dismiss="modal"><?php echo $this::$lang['Cancel'];?></a>
								</form>
							  </div>
							</div>
						  </div>
						</div>
					</div>

					<div class="col-lg-6 right">
					  <!-- upload  zip-->
					<a href="#" class="btn btn-warning" data-toggle="modal" data-target="#importFile">
					<i class="fa fa-upload"></i> - <?php echo $this::$lang['Import_zip'];?></a>

					<!-- clear cache -->
					<a class="btn btn-default"
					href="<?php echo $this->Url().'/action/clearCache/'.$token?>">
					<?php echo $this::$lang['Clear_cache'];?>
					</a>
					</div>
					<div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="exampleModalLabel"><?php echo $this::$lang['Import_backup_files'];?></h4>
						  </div>
						  <div class="modal-body">
							<form class="mediauploader" method="post"  enctype="multipart/form-data">
								<input type="hidden" name="token" value="<?php echo Token::generate();?>"/>
								<input type="file" name="importfile" required/>
								<br>
								<input type="submit" name="importZipFile" class="btn btn-primary" value="<?php echo $this::$lang['Import'];?>">
								<a href="#" class="btn btn-danger" data-dismiss="modal"><?php echo $this::$lang['Cancel'];?></a>
							</form>
						  </div>
						</div>
					  </div>
					</div>
				</div>

            </div>
            <!-- /.container-fluid mt60 -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<?php }; ?>
<?php $this->partial('footer',array()); ?>
